.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: vw(85);
	padding-top: vw(28);
	padding-right: vw(22);
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	@include max(md){
		display: none;
	}
	a{
		font-style: normal;
		font-weight: 500;
		font-size: vw(14);
		line-height: vw(17);
		color: #191919;
		text-decoration: none;
		transition: 0.3s ease;
		&:hover{
			color: $red;
		}
	}

	&__left{
		padding-left: vw(36);
	}
	&__right{
		display: flex;
	}
	&__menu{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		&-item{
			&:not(:first-child){
				margin-left: vw(41);
			}
			a{
				color: $colorGray;
			}
			&--logo {
				position: relative;
				width: vw(180);
				@include max(md) {
					width: vw2(29);
				}
				img, svg {
					position: relative;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: left center;
					display: block;
				}
				span{
					position: absolute;
					top: 40%;
					left: vw(43);
					font-weight: 400;
					font-size: vw(12.5);
					@include max(md){
						left: 9vw;
						font-size: 2.25vw;
					}
					@include max(sm) {
						left: vw2(33);
						font-size: vw2(8.5);
					}
				}
			}
		}
	}
	&__btn{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: vw(56);
		width: vw(188);
		background: #fff;
		color: $text;
		border: 1px solid #FFFFFF;
		border-radius: 8px;
		&:hover{
			background: $red;
			border: 1px solid $red;
			color: #ffffff !important;
		}
	}
}
.fixed-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	/*padding-top: vw(5);
	padding-bottom: vw(5);*/
	padding-top: 1vw;
	padding-bottom: 1vw;
	align-items: center;
	//box-shadow: 0 0 vw(5) rgba(105, 105, 105, 0.5);
    box-shadow: none;
	transition: transform 0.3s ease;
	height: auto;

	backdrop-filter: blur(6px);
	background: rgb(255 255 255 / 30%);

	&:not(.active){
		transform: translateY(-100%);
	}
	a {
		color: #000000;
	}
	.header__btn{
		height: vw(40);
		border: 1px solid #191919;
		background: transparent;
		&:hover{
			color: #ffffff;
			background: #191919;
		}
	}

	@include max(md) {
		display: none;
	}
}