.header
	.header__left
		.header__menu
			.header__menu-item.header__menu-item--logo
				a.header__menu-item--logo(href="index.html")
					img(src="img/svg/logo--black.svg" alt="logo")     
			
			.header__menu-item
				a(href="./index.html?y=1941") О продукте
			.header__menu-item
				a(href="./index.html?y=1942") Окрашиваемые поверхности
			.header__menu-item
				a(href="./index.html?y=1943") Палитра
			.header__menu-item
				a(href="./index.html?y=1944") Применение
	.header__right
		a.header__btn(href="") Купить онлайн