.header
	.header__left
		.header__menu
			.header__menu-item.header__menu-item--logo
				a.header__menu-item--logo(href="index.html")
					img(src="img/svg/logo--black.svg" alt="logo")     
			.header__menu-item
				a(href="#product") О продукте
			.header__menu-item
				a(href="#material") Окрашиваемые поверхности
			.header__menu-item
				a(href="") Палитра
			.header__menu-item
				a(href="") Применение
	.header__right
		a.header__btn(href="") Купить онлайн