.home-page-preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter: grayscale(100%);
	background: #fbfbfd;
	z-index: 999;

	@include max(md) {
		display: none;
	}

	img {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		object-position: right bottom;
		object-fit: cover;
		transform: translateX(-14px);

		@include max(md) {
			display: none;
		}
	}
}

.home-page {
	width: 100%;
	height: 100vh;
	position: relative;

	@include max(md) {
		height: auto;
	}


}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 16;
	width: 1938px;
	transform: translate(-50%, -50%);

	@include max(md) {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.section1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;

	@include max(md) {
		position: relative;
		height: auto;
		min-height: auto;
		top: auto;
		left: auto;
	}

	&__title {
		width: vw(602);
		position: absolute;
		left: vw(43);
		will-change: transform, opacity;
		transform-style: preserve-3d;

		@include max(md) {
			width: vw2(233);
			left: vw2(17);
			bottom: vw2(26);
			color: #fff;
		}

		@include max(sm) {
			bottom: vw2(150);
		}

		img {
			width: 100%;
		}

		span {
			@include max(md) {
				opacity: 1;
			}
		}
	}

	&__house {
		width: 100%;
		height: 100vh;
		position: absolute;
		left: 0;
		top: 0;
		will-change: transform, top;
		transform-style: preserve-3d;

		@include max(md) {
			position: relative;
			height: auto;
			min-height: vw2(400);
		}


		img,
		picture {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			object-position: right bottom;
			object-fit: cover;

			@include max(md) {
				object-position: 91% bottom;
			}
		}

	}

	&__dates {
		display: flex;
		align-items: center;
		font-size: vw(16);
		line-height: 1.92;
		position: absolute;
		top: vw(521);
		left: 50%;
		font-weight: 450;
		transform: translateX(-60%);
		will-change: transform, opacity;
		transform-style: preserve-3d;

		@include max(md) {
			font-size: vw2(33);
			top: vw2(244);
			transform: translateX(-50%);
		}

		@include max(sm) {
			font-size: vw3(12);
			line-height: 2.57;
			transform: none;
			top: vw3(72);
			left: vw3(20);
		}

		&-item {
			&:not(:first-child) {
				margin-left: vw(208);

				@include max(md) {
					margin-left: vw2(22);
				}

				@include max(sm) {
					margin-left: vw3(22);
				}
			}
		}
	}


}


@keyframes rotateCircle {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(-360deg)
	}
}



.section2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 15;
	will-change: transform, opacity;
	transform-style: preserve-3d;

	@include max(md) {
		position: relative;
		height: vw2(360);
		top: auto;
		left: auto;
	}

	&__title {
		width: vw(587);
		position: absolute;
		left: vw(43);
		will-change: transform, opacity;
		transform-style: preserve-3d;
		z-index: 20;
		color: #fff;

		@include max(md) {
			width: vw2(250);
			left: vw2(17);
			bottom: -100%;
			transition: all 2s;

			span {
				opacity: 1;
			}
		}

		&.active {
			bottom: vw2(26);
			transition: all 2s;
		}

		@include max(sm) {
			bottom: -150%;
		}

		span {
			&.db {
				display: block;
			}
		}


		img {
			width: 100%;
		}
	}

	.video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__video {
		width: 100vw;

	}

	.scroll-down {
		z-index: 20;
	}
}

.section3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 25;
	will-change: transform, opacity;
	transform-style: preserve-3d;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: #252525;

	@include max(md) {
		position: relative;
	}

	@include max(sm) {
		flex-flow: column-reverse nowrap;
		position: relative;
		min-height: auto;
		height: auto;
		top: auto;
		left: auto;
	}

	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		justify-content: flex-end;
		width: 50%;
		height: 100%;

		&--one {
			@include max(sm) {
				padding-top: vw2(40);
			}
		}

		@include max(sm) {
			width: 100%;
		}
	}

	&__title {
		width: vw(587);
		position: absolute;
		left: vw(43);
		will-change: transform, opacity;
		transform-style: preserve-3d;
		z-index: 25;
		color: #fff;

		@include max(md) {
			width: vw2(720);
			top: vw2(0);
		}

		@include max(sm) {
			width: vw3(282);
			top: vw3(10);
		}

		img {
			width: 100%;
		}
	}

	&__subtitle {
		width: vw(440);
		position: absolute;
		left: vw(36);
		top: vw(60);
		z-index: 25;
		color: #fff;
		font-style: normal;
		font-weight: 400;
		font-size: vw(20);
		line-height: vw(24);
		color: #EBEBEB;

		@include max(sm) {
			width: vw2(278);
			position: absolute;
			left: vw2(20);
			top: vw2(20);
			bottom: auto;
			font-size: vw2(12);
			line-height: vw2(15);
			background: #252525;
		}
	}

	.scroll-down {
		z-index: 20;
		left: auto;
		right: vw(5);
	}
}

.material {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	max-height: vw(522);
	//max-height: 62.124567vw;
	max-height: 93vh;



	@include max(sm) {
		max-height: vw2(125);
		margin-top: vw2(-40);
	}

	&-slide {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: vw(146);
		line-height: vw(177);
		padding-left: vw(35);
		letter-spacing: -0.055em;
		// transition: all 0.1s;
		color: #fff;
		background-color: #fff;
		opacity: 0;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(360deg, #fff 16.33%, #fff 100%);
		cursor: pointer;

		@include max(md) {
			padding-left: vw2(20);
		}

		@include max(sm) {
			opacity: 0;
		}

		&.swiper-slide-next {
			transition: all 1s;
			color: #fff;
			background-color: #fff;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(360deg, #252525 16.33%, rgba(37, 37, 37, 0.75) 100%);
			opacity: 1;
		}

		&.swiper-slide-active {
			color: #fff;
			background-color: #fff;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(360deg, #fff 16.33%, #fff 100%);
			opacity: 1;
		}

		&.swiper-slide-prev {
			transition: all 1s;
			background-color: #fff;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(180deg, #252525 16.33%, rgba(37, 37, 37, 0.75) 100%);
			opacity: 1;

			@include max(sm) {
				opacity: 0;
			}
		}
	}

	&--button {
		background: rgba(255, 255, 255, 1);
		width: vw(59);
		height: vw(59);
		border-radius: 50%;
		color: #000;
		z-index: 20;

		&::after {
			font-size: 3vw;
			color: #000;

		}
	}
}

.material-foto {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;

	@include max(sm) {
		height: 80vh;
	}

	&__slide {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: vw(146);
		line-height: vw(177);
		padding-left: vw(29);
		letter-spacing: -0.055em;
		color: #FFFFFF;

		@include max(sm) {
			padding-left: vw(0);
		}

		picture,
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&--button {
		background: rgba(255, 255, 255, 1);
		width: vw(59);
		height: vw(59);
		border-radius: 50%;
		color: #000;
		z-index: 20;
		box-shadow: 0 0 vw(10) #252525;

		@include max(sm) {
			width: vw2(38);
			height: vw2(38);
			box-shadow: 0 0 vw2(8) #252525;
		}

		&::after {
			font-size: vw(25);
			color: #000;

			@include max(sm) {
				font-size: vw2(17);
			}
		}
	}

	.swiper-button-prev.material-foto--button {
		transform: rotate(90deg);
		top: vw(400);
		left: var(--swiper-navigation-sides-offset, 0px);

		@include max(sm) {
			top: 50%;
			transform: rotate(0deg);
			left: var(--swiper-navigation-sides-offset, 20px);
		}
	}

	.swiper-button-next.material-foto--button {

		left: var(--swiper-navigation-sides-offset, 0px);
		top: vw(470);
		right: auto;

		@include max(sm) {
			top: 50%;
			left: auto;
			right: var(--swiper-navigation-sides-offset, 20px);
		}

		&::after {
			transform: rotate(90deg);

			@include max(sm) {
				transform: rotate(0deg);
			}

			@include min(md) {
				background: rgba(255, 255, 255, 1);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}


		&::before {
			content: "Посмотрите\0000a0поверхности, подходящие\0000a0для\0000a0окрашивания";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			background: rgba(255, 255, 255, 1);
			width: vw(59);
			height: vw(59);
			border-radius: vw(29.5);
			display: flex;
			align-items: center;
			padding-left: vw(20);
			box-sizing: border-box;
			overflow: hidden;
			font-size: vw(15);
			justify-content: flex-end;
			padding-right: vw(20);
			transition: width 0.6s ease, padding 0.6s ease, box-shadow 0.6s ease;
			box-shadow: 0 0 0 #252525;

			@include max(md) {
				display: none;
			}
		}

		&.tip:not(.active) {
			&::before {
				padding-left: vw(69);
				//width: vw(180);
				width: vw(326);
				overflow: hidden;
				box-shadow: 0 0 vw(10) #252525;
			}
		}
	}

}

.section4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	z-index: 25;
	will-change: transform, opacity;
	transform-style: preserve-3d;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: #F0F0F0;

	&::-webkit-scrollbar {
		display: block !important;
	}

	@include max(md) {
		position: relative;
		min-height: auto;
		height: auto;
		top: auto;
		left: auto;
		flex-flow: column nowrap;
	}

	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;

		&:nth-child(1) {
			width: 77.2%;
			align-items: flex-end;
			justify-content: flex-end;

			@include max(md) {
				width: 100%;
				align-items: flex-start;
				justify-content: flex-start;
				padding-top: vw2(16);

			}
		}

		&:nth-child(2) {
			width: 22.8%;
			background: #191919;

			@include max(md) {
				width: 100%;
			}
		}
	}

	&__title {
		width: vw(960);
		position: absolute;
		left: vw(36);
		top: vw(53);
		z-index: 25;

		@include max(md) {
			width: vw2(281);
			position: relative;
			left: vw2(0);
			top: vw2(0);
			margin-bottom: vw2(20);
			margin-left: vw2(20);
		}
	}

}

.color-slider {
	position: relative;
	display: flex;
	width: 100%;
	height: 72.5vh;

	@include max(md) {
		position: relative;
		height: 50vh;
		min-height: vw2(200);
	}

	&__slide {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: vw(146);
		line-height: vw(177);
		padding-left: vw(0);
		letter-spacing: -0.055em;
		color: #FFFFFF;

		picture,
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&--button {
		background: rgba(255, 255, 255, 1);
		width: vw(59);
		height: vw(59);
		border-radius: 50%;
		color: #000;
		z-index: 20;
		box-shadow: 0 0 vw(8) #717170;

		@include max(sm) {
			width: vw2(38);
			height: vw2(38);
			box-shadow: 0 0 vw2(6) #717170;
		}

		&::after {
			font-size: vw(25);
			color: #000;

			@include max(sm) {
				font-size: vw2(17);
			}
		}
	}

}

.color-list {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: calc(100% - vw(180));
	flex-flow: row wrap;
	overflow-y: auto;

	@include max(md) {
		width: 100%;
		flex-flow: row nowrap;
		overflow-x: auto;
		justify-content: flex-start;
		padding-bottom: vw2(5);
		height: auto;
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding-top: vw(65);
		padding-bottom: vw(25);
		padding-left: vw(23);
		padding-right: vw(23);

		@include max(md) {
			padding-top: vw2(20);
			padding-bottom: vw2(10);
			padding-left: vw2(29);
			padding-right: vw2(0);
		}

	}

	&__selected {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: vw(25);

		&__element {
			position: relative;
			display: none;
			justify-content: flex-start;
			align-items: center;
			flex-flow: column nowrap;

			@include max(md) {
				flex-flow: row nowrap;
			}

			&.active {
				display: flex;
			}
		}

		@include max(md) {
			flex-flow: row nowrap;
		}

		&--color {
			position: relative;
			display: flex;
			align-self: center;
			border-radius: 50%;
			width: vw(108);
			min-width: vw(108);
			height: vw(108);
			min-height: vw(108);
			background: #17652E;
			margin-bottom: vw(13);
			overflow: hidden;

			img,
			svg {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}

			@include max(md) {
				width: vw2(57);
				min-width: vw2(57);
				height: vw2(57);
				min-height: vw2(57);
				margin-right: vw2(11);
			}

			@include max(sm) {
				margin-right: vw2(11);
			}
		}

		.color-list__item--wrap {
			@include max(md) {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-flow: column nowrap;
			}

			.color-list__item--rall {
				@include max(md) {
					text-align: left;
				}
			}
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: column nowrap;
		width: vw(116);
		min-height: vw(109);
		padding-left: vw(8);
		padding-top: vw(22);
		padding-bottom: vw(16);
		padding-right: vw(8);
		// margin-bottom: vw(16);
		border: 1px solid rgba(255, 255, 255, 0);
		border-radius: vw(9);

		@include max(md) {
			width: vw2(84);
			min-height: vw2(78);
			padding-left: vw2(10);
			padding-top: vw2(15);
			padding-bottom: vw2(10);
			padding-right: vw2(10);
			border-radius: vw2(9);
		}

		&:nth-child(2) {
			.color-list__item--color {
				background: #733C3F;
			}

		}

		&.active {
			border: 1px solid rgba(255, 255, 255, 0.2);
		}

		&:hover {
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 9px;
		}

		&--color {
			position: relative;
			display: flex;
			align-self: center;
			border-radius: 51.5px;
			width: vw(30);
			min-width: vw(30);
			height: vw(30);
			min-height: vw(30);
			background: #17652E;
			margin-bottom: vw(13);

			@include max(md) {
				width: vw2(22);
				min-width: vw2(22);
				height: vw2(22);
				min-height: vw2(22);
			}
		}

		&--title {
			position: relative;
			display: block;
			width: 100%;
			font-style: normal;
			font-weight: 400;
			font-size: vw(14);
			line-height: vw(17);
			text-align: center;
			color: #FFFFFF;

			@include max(md) {
				font-size: vw2(10);
				line-height: vw2(12);
			}
		}

		&--rall {
			position: relative;
			display: block;
			width: 100%;
			font-style: normal;
			font-weight: 400;
			font-size: vw(14);
			line-height: vw(17);
			text-align: center;
			color: #FFFFFF;

			@include max(md) {
				font-size: vw2(8);
				line-height: vw2(9);
			}
		}
	}
}

.section5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 25;
	will-change: transform, opacity;
	transform-style: preserve-3d;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: #FBFBFD;
	padding-top: vw(80);
	padding-left: vw(38);
	padding-right: vw(38);
	padding-bottom: vw(46);
	box-sizing: border-box;

	@include max(md) {
		position: relative;
		min-height: auto;
		height: auto;
		top: auto;
		left: auto;
		flex-flow: column nowrap;
		padding-top: vw2(20);
		padding-left: vw2(20);
		padding-right: vw2(20);
		padding-bottom: vw2(46);
	}

	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;

		&:nth-child(1) {
			width: 50%;

			@include max(md) {
				width: 100%;
			}
		}

		&:nth-child(2) {
			width: 50%;

			@include max(md) {
				width: 100%;
			}
		}
	}

	&__title {
		width: vw(693);
		position: absolute;
		left: vw(36);
		top: 0;
		z-index: 25;

		@include max(md) {
			position: relative;
			left: auto;
			margin-top: vw2(24);
			width: 100%;
			width: vw2(250);
			transition: all 2s;
			transform: translateY(150%);

		}

		span {
			display: block;
		}

		&.active {
			transform: translateY(0%);
			transition: all 2s;
			transition-delay: 0.5s;

			@include max(md) {
				transition-delay: 0.1s;
			}
		}
	}

	&__video {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		// background: #D9D9D9;
		// border-radius: 33px;
		min-height: vw(410);

		@include max(md) {
			min-height: vw2(178);
		}

		.video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			border-radius: 33px;
		}
	}

	&__button {
		margin-top: vw(29);

		@include max(md) {
			display: none;
		}
	}

}

.section6 {
	position: relative;
	top: 0vh;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	z-index: 30;
	will-change: transform, opacity;
	transform-style: preserve-3d;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: column nowrap;
	background: #fff;
	padding-top: vw(46);
	padding-left: vw(38);
	padding-right: vw(38);
	padding-bottom: vw(46);
	box-sizing: border-box;

	@include max(md) {
		position: relative;
		min-height: auto;
		height: auto;
		top: auto;
		left: auto;
		flex-flow: column nowrap;
		padding-top: vw2(20);
		padding-left: vw2(20);
		padding-right: vw2(20);
		padding-bottom: vw2(46);
	}

	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;

		&:nth-child(1) {
			width: 50%;
		}

		&:nth-child(2) {
			width: 50%;
		}
	}

	&__title {
		//width: vw(503);
		width: 100%;
		position: relative;
		display: block;
		z-index: 25;

		@include max(md) {
			//width: vw2(250);
			width: 100%;
		}
	}

	&__button {
		margin-top: vw(29);
	}

}

.section7 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 25;
	will-change: transform, opacity;
	transform-style: preserve-3d;
	background: #252525;
	padding-top: vw(46);
	padding-left: vw(38);
	padding-right: vw(38);
	box-sizing: border-box;

	@include max(md) {
		position: relative;
		height: auto;
		top: auto;
		left: auto;
		padding-top: vw2(20);
		padding-left: vw2(20);
		padding-right: vw2(20);
		padding-bottom: vw2(0);
	}

	@include max(sm) {
		position: relative;
		height: auto;
		top: auto;
		left: auto;
		justify-content: flex-end;
		align-items: flex-end;
		padding-top: vw2(20);
		padding-left: vw2(20);
		padding-right: vw2(20);
		padding-bottom: vw2(23);
		overflow: hidden;
	}

	&__picture {
		position: relative;
		width: vw(950);
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 30;
		transform: translateY(100%);
		transition: all 2s;
		margin-top: vw(20);

		&.active {
			transition: all 2s;
			transform: translateY(0);
		}

		@include max(sm) {
			bottom: -100%;
			z-index: 0;
			width: calc(100% - vw2(40));
			margin-left: vw2(20);
			margin-right: vw2(20);
			margin-top: vw2(20);
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		img,
		picture {
			display: block;
			width: 100%;
			height: 100%;
			object-position: center top;
			object-fit: cover;

			@include max(md) {
				height: 100%;
				object-position: center top;
				object-fit: cover;
			}

			@include max(sm) {
				width: 100%;
			}
		}
	}

	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;

		&:nth-child(1) {
			width: 50%;
		}

		&:nth-child(2) {
			width: 50%;
		}
	}

	&__title {
		width: vw(1000);
		position: static;
		z-index: 25;
		color: #fff;
	}

	&__button {
		background: #fff;
		position: absolute;
		top: vw(71);
		right: vw(58);
		width: vw(188);

		&--desc {
			@include max(sm) {
				display: none;
			}

		}

		&--mob {
			display: none;

			@include max(sm) {
				position: relative;
				display: flex;
				top: auto;
				right: auto;
				width: 100%;
				max-width: 100%;
				margin-top: vw2(18);

			}
		}

	}

}

.accordions {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	//margin-top: vw(75);
	margin-top: vw(46);

	@include max(md) {
		//margin-top: vw2(44);
		margin-top: vw2(20);
	}
}

.accordion {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: vw(28);
	display: block;

	@include max(md) {
		margin-bottom: vw2(0);
	}

	&__intro {
		position: relative;
		cursor: pointer;
		font-style: normal;
		font-weight: 600;
		font-size: vw(28);
		line-height: vw(34);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		color: #191919;
		border-radius: 0;
		padding-top: vw(23);
		//padding-bottom: vw(65);
		border-top: 1px solid rgba(0, 0, 0, 0.2);

		@include max(md) {
			font-size: vw2(12);
			line-height: vw2(15);
			padding-top: vw2(10);
			//padding-bottom: vw2(20);
		}

		p {
			position: relative;
			display: inline-block;
			width: 100%;
			//max-width: vw(348);
			font-style: normal;
			font-weight: 600;
			font-size: vw(28);
			line-height: vw(34);

			@include max(md) {
				font-size: vw2(16);
				line-height: vw2(15);
				//max-width: vw2(91);
			}
		}

		.accordion__intro__img {
			position: relative;
			width: vw(59);
			min-width: vw(59);
			height: vw(59);
			min-height: vw(59);
			background: #F0F0F0;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			@include max(sm) {
				width: vw2(38);
				min-width: vw2(38);
				height: vw2(38);
				min-height: vw2(38);
			}

			svg {
				animation-name: rotationClose;
				animation-duration: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;

				@include max(md) {
					width: vw(14);
					min-width: vw(14);
					height: vw(8);
					min-height: vw(8);
				}

				@include max(sm) {
					width: vw2(10);
					min-width: vw2(10);
					height: vw2(7);
					min-height: vw2(7);
				}
			}

			&:hover {
				background: $red;
				color: #fff;
				transition: background .3s ease;

				svg {
					fill: #fff;

					path {
						fill: #fff;
					}
				}

			}
		}


	}

	&__content {
		max-height: 0;
		overflow: hidden;
		will-change: max-height;
		transition: all 0.25s ease-out;
		opacity: 0;
		padding-top: 0;
	}

	&__active {
		.accordion__intro {
			.accordion__intro__img {
				svg {
					animation-name: rotationOpen;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
				}

			}

		}

		.accordion__content {
			background: #fff;
			opacity: 1;
			width: 100%;

			p {
				padding: 0;
				margin: 0;
			}
		}
	}
}

@keyframes rotationOpen {
	0% {
		transform-origin: 50% 50%;
		transform: rotate(0deg);
	}

	100% {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}
}

@keyframes rotationClose {
	0% {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}

	100% {
		transform-origin: 50% 50%;
		transform: rotate(0deg);
	}
}

.surfaces {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding-top: vw(65);

	@include max(md) {
		flex-flow: column nowrap;
		padding-top: vw2(20);
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: vw(28);
		line-height: vw(34);
		margin-bottom: vw(50);
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: vw(354);
		color: #191919;

		@include max(md) {
			font-size: vw2(14);
			line-height: vw2(15);
			max-width: 100%;
		}
	}

	&__col {
		position: relative;
		display: flex;
		width: 50%;
		flex-flow: column nowrap;

		&:nth-child(1) {
			max-width: vw(628);

			@include max(md) {
				width: 100%;
				max-width: 100%;
			}
		}

		&:nth-child(2) {
			max-width: vw(593);

			@include max(md) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&__item {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		margin-bottom: vw(54);

		&--title {
			font-weight: 600;
			margin-bottom: vw(23);
		}

		&--picture {
			position: relative;
			display: block;
			width: calc(50% - vw(9));
			border-radius: vw(18);
			overflow: hidden;

			&-wrap {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;
			}

			&::before {
				content: "";
				display: block;
				padding-top: 153.68%;
			}

			picture,
			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

	&-process {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		flex-flow: column nowrap;

		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			flex-flow: column nowrap;
			margin-bottom: vw(54);

			&--numb {
				position: absolute;
				top: vw(19);
				left: vw(15);
				width: vw(59);
				min-width: vw(59);
				height: vw(59);
				min-height: vw(59);
				display: flex;
				justify-content: center;
				align-items: center;
				background: #fff;
				font-weight: 600;
				font-size: vw(20);
				line-height: vw(24);
				border-radius: 50%;
				z-index: 10;

				@include max(md) {
					top: vw2(10);
					left: vw2(10);
					width: vw2(29);
					min-width: vw2(29);
					height: vw2(29);
					min-height: vw2(29);
					background: #fff;
					font-weight: 600;
					font-size: vw2(12);
					line-height: vw2(18);
					border-radius: 50%;
				}


			}

			&--picture {
				position: relative;
				display: block;
				width: 100%;
				border-radius: vw(18);
				margin-bottom: vw(31);
				overflow: hidden;

				&::before {
					content: "";
					display: block;
					padding-top: 67.62%;
				}

				picture,
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
		}
	}
}

.prep {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: column nowrap;
	width: 100%;
	padding-top: vw(65);

	@include max(md) {
		flex-flow: column nowrap;
		padding-top: vw2(20);
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: vw(28);
		line-height: vw(34);
		margin-bottom: vw(50);
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: vw(354);
		color: #191919;
	}

	&__col {
		position: relative;
		display: flex;
		width: 100%;
		flex-flow: column nowrap;

		&:nth-child(1) {
			max-width: vw(745);

			@include max(md) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&__item {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		margin-bottom: vw(54);

		&--title {
			font-weight: 600;
			margin-bottom: vw(23);
		}

		&--picture {
			position: relative;
			display: block;
			border-radius: vw(18);
			width: 100%;
			overflow: hidden;
			margin-bottom: vw(23);

			&-wrap {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;

				&--col {
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					flex-flow: column nowrap;
					width: calc(50% - vw(9));
				}
			}

			&::before {
				content: "";
				display: block;
				padding-top: 153.68%;
			}

			picture,
			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

	}

	.result__pictures {
		width: 100%;
		margin-left: 0;
	}

	.result__picture-item {
		flex: 0 1 100%;
		max-width: 100%;
		margin-left: 0;
	}

	&__item-end {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;

		img {
			display: inline-block;
			position: relative;
			object-fit: contain;
			width: vw(96);
			height: vw(96);
			margin-right: vw(16);

			@include max(md) {
				width: vw2(40);
				height: vw2(40);
				margin-right: vw2(16)
			}
		}

		.surfaces__item--text {
			color: #000;
			width: 100%;
			max-width: vw(270);

			@include max(md) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&-process {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		flex-flow: column nowrap;

		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			flex-flow: column nowrap;
			margin-bottom: vw(54);

			&--picture {
				position: relative;
				display: block;
				width: 100%;
				border-radius: vw(18);
				margin-bottom: vw(31);
				overflow: hidden;

				&::before {
					content: "";
					display: block;
					padding-top: 67.62%;
				}

				picture,
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}
		}
	}
}

.result {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 100%;
	padding-top: vw(65);

	@include max(md) {
		padding-top: vw2(20);
	}

	&__item {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		margin-bottom: vw(54);
		max-width: vw(745);

		@include max(md) {
			max-width: 100%;
		}
	}

	&__pictures {
		position: relative;
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		align-items: flex-start;
		width: calc(100% + vw(32));
		margin-left: vw(-32);

		@include max(md) {
			width: 100%;
			margin-left: 0;
		}
	}

	&__picture-item {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		flex: 0 1 50%;
		max-width: calc(50% - vw(32));
		margin-left: vw(32);
		margin-bottom: vw(61);

		@include max(md) {
			flex: 0 1 100%;
			max-width: 100%;
			margin-left: vw(0);
			margin-bottom: vw2(20);
		}

		

		&--doc {
			max-width: calc(33.33% - vw(32));
			@include max(md) {
			}
	
		}

		&--picture {
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;
			margin-bottom: vw(23);
			border-radius: vw(18);

			&::before {
				content: "";
				display: block;
				padding-top: 63.12%;
			}
			&--doc{
				&::before {
					padding-top: 142%;
				}
			}

			picture,
			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

		&--white {
			.result__picture-item--text {
				position: absolute;
				top: vw(21);
				left: vw(15);
				color: #fff;
				max-width: vw(202);

				@include max(md) {
					max-width: 100%;
				}
			}
		}

		&--text {
			width: 100%;
			max-width: vw(486);

			@include max(md) {
				max-width: 100%;
			}
		}
	}

}


.surfaces--non-first,
.prep--non-first,
.result--non-first{
padding-top: 0;
margin-top: 0;
@include max(md) {
	padding-top: 0;
	margin-top: 0;
}
}