extends layouts/default
include helpers/mixins

block variables
	- const title = "Index Page"
	- var sidebarActive = 1940
block head
	include ../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay
	//- include ../blocks/modules/loader/loader
	//- .wrapper
		//- include ../blocks/modules/sidebar/sidebar

	.home-page-preloader
		picture
			source(srcset="img/main/start.png" media="(max-width: 699px)")
			img(src="img/main/start.png" alt="")
	.scroll-page.home-page
		include ../blocks/modules/mobnav/mobnav
		.section1
			include ../blocks/modules/header/header
			.section1__house
				picture
					source(srcset="img/main/start.png" media="(max-width: 699px)")
					img(src="img/main/start.png" alt="")
			.section1__title.blockTitle
				!="Подарите новый цвет <span>любимым вещам!</span>"
			.section1__scroll
				span Scroll

		.section2#product
			video.video.section2__video.lazy(autoplay muted loop playsinline poster="")
				source(data-src="video/video--1.mp4" data-srcmobile="video/video--1-m.mp4" type="video/mp4")
			.section2__title.blockTitle.blockTitle--desc
				span Равномерное и долговечное покрытие.
				br
				span Насыщенность цвета.
				span Полное соответствие RAL.
				br
				span Высокая укрывистость. 
			.section2__title.section2__title--mob.blockTitle.blockTitle--mob
				!="Равномерное и долговечное покрытие. <br><span>Насыщенность цвета. Полное соответствие RAL. Высокая укрывистость.</span>"
		.section3#material
			.section3__subtitle.subBlockTitle.blockTitle--desc
				!="Для окраски различных поверхностей из:"
			.section3__col.section3__col--one
				.section3__subtitle.subBlockTitle.blockTitle--mob
					!="Для окраски различных поверхностей из:"
				.swiper.material.js--material
					.swiper-wrapper
						.swiper-slide.material-slide
							.material-slide__item Метала
						.swiper-slide.material-slide
							.material-slide__item Дерева
						.swiper-slide.material-slide
							.material-slide__item Гипса
						.swiper-slide.material-slide
							.material-slide__item Камня
						.swiper-slide.material-slide
							.material-slide__item Пластика
			.section3__col.section3__col--two
				.swiper.material-foto.js--material-foto
					.swiper-wrapper
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--3.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--1.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--2.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--4.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--5.png" alt="")
					.swiper-button-next.material-foto--button
					.swiper-button-prev.material-foto--button
		.section4#color
			.section4__col
				.section4__title.blockTitle
					!="Придайте предметам  <span>глубокий и насыщенный цвет.</span>"
				.swiper.color-slider.js--color-slider
					.swiper-wrapper
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-1.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-2.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-3.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-1.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-2.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-3.png" alt="")
					.swiper-button-prev.color-slider--button 
					.swiper-button-next.color-slider--button
			.section4__col
				.color-list__wrap
					.color-list__selected
						.color-list__selected__element(data-filter="3005")
							.color-list__selected--color
								img(src="img/main/selected--color--2.jpg", alt="")
							.color-list__item--wrap
								.color-list__item--title Красное вино
								.color-list__item--rall RAL 3005
						.color-list__selected__element(data-filter="6005")
							.color-list__selected--color
								img(src="img/main/selected--color--3.jpg", alt="")
							.color-list__item--wrap
								.color-list__item--title Зеленый MOX 
								.color-list__item--rall RAL 6005
					.color-list
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый Зеленый
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
		.section5#section5
			.section5__col
				.section5__video 
					video.video.lazy(autoplay muted loop playsinline poster="")
						source(data-src="video/video--2.mp4" data-srcmobile="video/video--2-m.mp4" type="video/mp4")
				.button.section5__button Купить онлайн
			.section5__col
				.section5__title.section5__title--mob.blockTitle.blockTitle--mob
					!="Реальный выкрас на крышке баллона. <br><span>Гарантия цвета. Уверенность в результате.</span>"
				.section5__title.blockTitle.blockTitle--desc
					span Реальный выкрас на крышке баллона.
					br
					span Гарантия цвета.
					br
					span Уверенность в результате.
	
	.home-page
		.section6#surfaces
			.section6__title.blockTitle
					!="Рекомендации <span>по применению</span>"
			.accordions
				.accordion
					.accordion__intro
						p Подготовка поверхности
						.accordion__intro__img 
							<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
							</svg>
					.accordion__content
						.surfaces
							.surfaces__col
								.surfaces__title Рекомендации по подготовке различных поверхностей
								.surfaces__item
									.surfaces__item--title.blockText Металл.
									.surfaces__item--text.blockText  Если присутствуют следы ржавчины, отшлифуйте и покройте поверхность антикоррозийным составом, чтобы избежать дальнейшей коррозии.
								.surfaces__item
									.surfaces__item--title.blockText Дерево.
									.surfaces__item--text.blockText  Дерево пористый материал, а значит часть краски впитается. Для яркого цвета и наилучшего качества покрытия, предварительно покройте дерево грунтом. Для полного перекрытия текстуры дерева потребуется нанести более 3 слоев. Предварительно отшлифуйте, если необходимо получить более гладкую поверхность.
								.surfaces__item
									.surfaces__item--picture-wrap 
										.surfaces__item--picture 
											picture
													source(srcset="img/main/surfaces--4.jpg" media="(max-width: 699px)")
													img(src="img/main/surfaces--4.jpg" alt="")
										.surfaces__item--picture 
											picture
													source(srcset="img/main/surfaces--5.jpg" media="(max-width: 699px)")
													img(src="img/main/surfaces--5.jpg" alt="")
								.surfaces__item
									.surfaces__item--title.blockText Пластик.
									.surfaces__item--text.blockText Для декоративных работ нанесите краску без предварительного грунтования. Для увеличения износостойкости покрытия используйте грунт для пластиков в качестве первого слоя.
								.surfaces__item
									.surfaces__item--title.blockText Камень, бетон, картон.
									.surfaces__item--text.blockText Для декоративных работ нанесите краску без предварительного грунтования. Для увеличения износостойкости покрытия используйте грунт для пластиков в качестве первого слоя. Камень, бетон, картон. Имейте ввиду, что данные материалы пористые, а значит часть краски впитается. Для достижения более яркого цвета, количество слоев краски может быть увеличено до 4-х. Бетон можно предварительно отшлифовать для получения более гладкой поверхности.

							.surfaces__col
								.surfaces-process
									.surfaces-process__item
										.surfaces-process__item--numb 01
										.surfaces-process__item--picture
											picture
												source(srcset="img/main/surfaces--1.jpg" media="(max-width: 699px)")
												img(src="img/main/surfaces--1.jpg" alt="")
										.surfaces-process__item--text.blockText Используйте во время работы средства защиты: перчатки и маску, чтобы не навредить здоровью. Замаскируйте малярной лентой или другими маскирующими материалами зону, которая не подлежит окраске. Очистите окрашиваемую поверхность от пыли, грязи и жиров. При окраске непористых материалов предварительно обезжирьте поверхность.
									.surfaces-process__item
										.surfaces-process__item--numb 02
										.surfaces-process__item--picture
											picture
												source(srcset="img/main/surfaces--2.jpg" media="(max-width: 699px)")
												img(src="img/main/surfaces--2.jpg" alt="")
										.surfaces-process__item--text.blockText Замаскируйте малярной лентой или другими маскирующими материалами зону, которая не подлежит окраске.
									.surfaces-process__item
										.surfaces-process__item--numb 03
										.surfaces-process__item--picture
											picture
												source(srcset="img/main/surfaces--3.jpg" media="(max-width: 699px)")
												img(src="img/main/surfaces--3.jpg" alt="")
										.surfaces-process__item--text.blockText Используйте во время работы средства защиты: перчатки и маску, чтобы не навредить здоровью.
				
				.accordion
					.accordion__intro
						p Подготовка баллона
						.accordion__intro__img 
							<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
							</svg>
					.accordion__content
						.prep
							.prep__col
								.prep__item
									.prep__item--text.blockText Тщательно перемешайте краску в баллоне - энергично растрясите его в течение 2 мин. Недостаточное перемешивание продукта может стать причиной несоответствия цвета.
								.prep__item
									.surfaces__item--text.blockText Температурный диапазон применения краски от плюс 10 до плюс 30⁰С окружающей среды и баллона. Для создания покрытия высокого качества рекомендуется, чтобы температура баллона и основания были одинаковыми. Слишком низкая температура баллона может стать причиной его неработоспособности. Причиной неработающего баллона также может быть засохшая краска в клапане или в сопле. Во избежание этой проблемы после нанесения нужно перевернуть баллон и выпустить остатки материала до момента выхода чистого газа.
								.result__pictures
									.result__picture-item
										.result__picture-item--picture 
											picture
												source(srcset="img/main/prep-1.jpg" media="(max-width: 699px)")
												img(src="img/main/prep-1.jpg" alt="")
										.result__picture-item--text.blockText Расстояние от объекта
				.accordion
					.accordion__intro
						p Окраска
						.accordion__intro__img 
							<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
							</svg>
					.accordion__content
						.result
							.result__item
								.result__item--text.blockText Рекомендованное расстояние до объекта при окраске 20-30 см. Нанесение с равномерной средней скоростью и перекрытием проходов не более 30% (во избежание подтёков).
							.result__pictures
								.result__picture-item
									.result__picture-item--picture 
										picture
											source(srcset="img/main/result-1.jpg" media="(max-width: 699px)")
											img(src="img/main/result-1.jpg" alt="")
									.result__picture-item--text.blockText Расстояние от объекта
								.result__picture-item
									.result__picture-item--picture 
										picture
											source(srcset="img/main/result-2.jpg" media="(max-width: 699px)")
											img(src="img/main/result-2.jpg" alt="")
									.result__picture-item--text.blockText Перекрытие
								.result__picture-item
									.result__picture-item--picture 
										picture
												source(srcset="img/main/result-3.jpg" media="(max-width: 699px)")
												img(src="img/main/result-3.jpg" alt="")
									.result__picture-item--text.blockText Красить следует заходя за край окрашиваемой поверхности. 
							.result__item
								.result__item--text.blockText Если требуется прервать нанесение по середине, то отведите баллон за границы окрашиваемой области и после этого отпустите клапан. Начинайте красить с середины аналогично – нажмите на клапан за пределами окрашиваемой области и после переместите баллон. Тогда в этом месте не будет резкой границы, подтёков или непрокрашенных мест.
							//- .result__pictures
							//- 	.result__picture-item.result__picture-item--white
							//- 		.result__picture-item--picture 
							//- 			picture
							//- 				source(srcset="img/main/result-4.png" media="(max-width: 699px)")
							//- 				img(src="img/main/result-4.png" alt="")
							//- 		.result__picture-item--text.blockText Окраска прервана правильно
							//- 	.result__picture-item.result__picture-item--white
							//- 		.result__picture-item--picture 
							//- 			picture
							//- 				source(srcset="img/main/result-5.png" media="(max-width: 699px)")
							//- 				img(src="img/main/result-5.png" alt="")
							//- 		.result__picture-item--text.blockText Окраска прервана неправильно
							
							.result__item
								.result__item--text.blockText При окраске поверх старого покрытия зачистите старую краску, отшлифуйте, обеспыльте и обезжирьте поверхность (для непористых материалов). В эмалях традиционно существуют более укрывистые цвета, так и менее укрывистые. Например, красные и синие цвета требуют большее количество слоёв для наилучшей укрываемости. Также во время окраски учтите цвет окрашиваемой поверхности. Например, чёрную деревянную коробку будет сложно покрасить в белый. Для этого потребуется предварительно нанести грунт.

				.accordion
					.accordion__intro
						p Результат
						.accordion__intro__img 
							<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
							</svg>
					.accordion__content
						.result
							.result__item
								.result__item--text.blockText Во избежание образования вздутий, подрывов и кратеров следует соблюсти должное время выдержки между слоями до 30 минут либо дождаться ее полного высыхания, а также обеспечить хорошую вентиляцию помещения. Правильная межслойная сушка также является залогом высокой прочности покрытия и его износостойкости. Отслоение покрытия может наступить из-за плохо подготовленной поверхности.
							.result__pictures
								.result__picture-item
									.result__picture-item--picture 
										picture
											source(srcset="img/main/result-6.jpg" media="(max-width: 699px)")
											img(src="img/main/result-6.jpg" alt="")
									.result__picture-item--text.blockText Правильно нанесенная краска
								.result__picture-item
									.result__picture-item--picture 
										picture
											source(srcset="img/main/result-7.jpg" media="(max-width: 699px)")
											img(src="img/main/result-7.jpg" alt="")
									.result__picture-item--text.blockText Подрывы
								.result__picture-item
									.result__picture-item--picture 
										picture
												source(srcset="img/main/result-8.jpg" media="(max-width: 699px)")
												img(src="img/main/result-8.jpg" alt="")
									.result__picture-item--text.blockText Вздутия
								.result__picture-item
									.result__picture-item--picture 
										picture
												source(srcset="img/main/result-9.jpg" media="(max-width: 699px)")
												img(src="img/main/result-9.jpg" alt="")
									.result__picture-item--text.blockText Кратеры			
		.section7#section7
			.section7__title.blockTitle
					!="Покрась <span><br>уже сейчас</span>"
			.section7__picture 
				picture
					source(srcset="img/main/balon--mob.png" media="(max-width: 699px)")
					img(src="img/main/balon.png" alt="")
			.button.section7__button.section7__button--desc Купить онлайн
		footer.footer 
			.footer__wrap
				.footer__row.footer__top
					.footer__top--col
						.button.section7__button.section7__button--mob Купить онлайн
						.footer__top--logo
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="587.334px" height="99.212px" viewBox="0 0 587.334 99.212" enable-background="new 0 0 587.334 99.212" xml:space="preserve">
							<g>
								<g>
									<polygon fill="#ED1C24" points="99.209,79.369 79.369,99.207 5.976,99.212 0,93.234 0,19.842 19.843,0 93.234,0 99.209,5.975       "/>
									<polygon fill="#FFFFFF" points="93.234,0 70.92,22.314 70.92,54.884 52.641,29.766 14.11,29.766 14.11,37.659 25.468,37.659     25.468,67.767 0.002,93.234 0.002,99.212 5.976,99.207 34.027,71.156 34.027,37.659 45.381,37.659 45.381,69.445 53.831,69.445     53.831,44.326 72.111,69.445 79.369,69.445 79.369,25.815 99.21,5.975 99.209,0   "/>
									<g class="word">
										<path d="M130.955,39.402h-11.904v-9.637h34.809v9.637h-11.903v30.042h-11.001V39.402z"/>
										<path d="M159.643,29.766h31.914v9.349h-21.03v6.015h19.045v8.675h-19.045v6.289h21.315v9.352h-32.199V29.766z"/>
										<path d="M209.949,49.266l-13.042-19.5h12.645l7.028,11.166l7.09-11.166h12.354L222.99,49.153l13.605,20.292h-12.644l-7.6-11.959     l-7.65,11.959h-12.359L209.949,49.266z"/>
										<path d="M241.795,29.766h10.998v14.852h14.117V29.766h10.998v39.679H266.91v-15.08h-14.117v15.08h-10.998V29.766z"/>
										<path d="M284.513,49.606c0-11.397,9.184-20.636,21.431-20.636c12.242,0,21.313,9.128,21.313,20.636     c0,11.395-9.184,20.635-21.426,20.635C293.58,70.242,284.513,61.111,284.513,49.606z M316.031,49.606     c0-5.727-4.137-10.718-10.201-10.718c-6.014,0-10.037,4.876-10.037,10.718c0,5.727,4.141,10.709,10.15,10.709     C312.004,60.316,316.031,55.445,316.031,49.606z"/>
										<path d="M333.912,29.766h11.004v14.852h14.111V29.766h11.002v39.679h-11.002v-15.08h-14.111v15.08h-11.004V29.766z"/>
										<path d="M378.584,29.766h10.887v22.332l15.367-22.332h10.256v39.679h-10.885V47.112l-15.365,22.333h-10.26V29.766z"/>
										<path d="M423.656,29.766h10.994v16.101l13.664-16.101h13.039l-15.021,17.061l15.529,22.619h-13.205l-9.977-14.736l-4.029,4.475     v10.262h-10.994V29.766z"/>
										<path d="M461.947,49.606c0-11.397,9.18-20.636,21.424-20.636c12.246,0,21.32,9.128,21.32,20.636     c0,11.395-9.188,20.635-21.43,20.635C471.014,70.242,461.947,61.111,461.947,49.606z M493.459,49.606     c0-5.727-4.131-10.718-10.197-10.718c-6.014,0-10.035,4.876-10.035,10.718c0,5.727,4.135,10.709,10.145,10.709     C489.438,60.316,493.459,55.445,493.459,49.606z"/>
										<path d="M553.828,29.766h10.996v12.467h6.01c9.525,0,16.5,4.539,16.5,13.49c0,8.566-6.236,13.723-15.93,13.723h-17.576V29.766z      M570.553,60.207c3.625,0,5.781-1.645,5.781-4.762c0-2.777-2.156-4.592-5.727-4.592h-5.783v9.354H570.553z"/>
										<path d="M514.426,29.766v17.407c0,4.114-0.416,10.065-3.131,12.17c-1.275,0.986-3.379,1.742-4.711,1.742v9.355h1.043     c3.803,0,8.064-1.529,9.701-2.568c6.633-4.211,7.453-12.221,7.453-21.269v-7.201h9.492v30.042h10.998V29.766H514.426z"/>
									</g>
								</g>
								<rect x="0.001" fill="none" width="587.332" height="99.212"/>
							</g>
							</svg>
					.footer__top--col
						.footer__soc
							.footer__soc--title ТЕХНОНИКОЛЬ в социальных сетях
							.footer__soc--group 
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
										<path d="M6.06559 10.9C6.86247 10.7188 7.62372 10.4037 8.31559 9.96875C8.83684 9.62 8.97684 8.915 8.62809 8.39375C8.29309 7.8925 7.62559 7.74125 7.10622 8.04812C5.51247 9.045 3.48747 9.045 1.89372 8.04812C1.36434 7.71437 0.665593 7.87313 0.331218 8.40125C0.331218 8.4025 0.331218 8.40375 0.329968 8.40437C-0.00378167 8.93375 0.154968 9.63312 0.684343 9.96687L0.685593 9.96813C1.37622 10.4025 2.13684 10.7181 2.93309 10.8981L0.767468 13.0638C0.325593 13.4981 0.317468 14.2075 0.749968 14.6494L0.768719 14.6681C0.983719 14.8894 1.27497 14.9994 1.56497 14.9994C1.85559 14.9994 2.14622 14.8894 2.36184 14.6681L4.49997 12.5406L6.62747 14.6694C7.07747 15.1038 7.79622 15.0919 8.23122 14.6413C8.65497 14.2019 8.65497 13.505 8.23122 13.0663L6.06559 10.9V10.9ZM4.49997 7.7425C6.63747 7.74 8.36872 6.00875 8.37184 3.87188C8.37184 1.7375 6.63434 0 4.49997 0C2.36559 0 0.628093 1.7375 0.628093 3.87313C0.631218 6.01063 2.36309 7.74187 4.49997 7.74312V7.7425ZM4.49997 2.26938C5.38497 2.27063 6.10184 2.98813 6.10247 3.8725C6.10247 4.7575 5.38497 5.47437 4.49997 5.47562C3.61559 5.47437 2.89872 4.75813 2.89684 3.87313C2.89809 2.9875 3.61559 2.27063 4.49997 2.26875V2.26938Z" fill="white"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10" fill="none">
									<path d="M15.6373 0.857792C15.4573 1.42379 15.2146 1.91646 14.9106 2.36379L14.9233 2.34379C14.6246 2.84157 14.268 3.41668 13.8533 4.06912C13.4977 4.58424 13.3095 4.8509 13.2886 4.86912C13.1966 4.98446 13.1326 5.12579 13.1106 5.28113L13.11 5.28579C13.128 5.42712 13.1933 5.55046 13.2886 5.64246L13.5553 5.93979C14.982 7.40601 15.7844 8.41668 15.9626 8.97179C15.986 9.03312 15.9993 9.10379 15.9993 9.17779C15.9993 9.30713 15.958 9.42646 15.888 9.52446L15.8893 9.52246C15.772 9.64313 15.608 9.71779 15.4266 9.71779C15.4066 9.71779 15.386 9.71712 15.3666 9.71513H15.3693H13.6153C13.6146 9.71513 13.6133 9.71513 13.612 9.71513C13.3873 9.71513 13.1806 9.63646 13.0186 9.50579L13.0206 9.50712C12.7846 9.31312 12.5746 9.10312 12.3866 8.87512L12.3806 8.86713C12.0735 8.52001 11.8011 8.22779 11.5633 7.99046C10.7713 7.23757 10.1868 6.86112 9.80995 6.86112C9.79595 6.85979 9.77995 6.85913 9.76329 6.85913C9.65329 6.85913 9.55062 6.89313 9.46595 6.95113L9.46795 6.94979C9.39862 7.03646 9.35662 7.14846 9.35662 7.26912C9.35662 7.29313 9.35795 7.31579 9.36129 7.33912V7.33646C9.34329 7.54579 9.33262 7.78912 9.33262 8.03512C9.33262 8.11446 9.33395 8.19313 9.33595 8.27179V8.26046V9.03313C9.34262 9.06446 9.34662 9.10046 9.34662 9.13713C9.34662 9.29846 9.27329 9.44246 9.15862 9.53779L9.15795 9.53846C8.89995 9.65646 8.59862 9.72579 8.28062 9.72579C8.21262 9.72579 8.14595 9.72246 8.07995 9.71646L8.08862 9.71712C7.03929 9.69713 6.06595 9.38979 5.23862 8.87179L5.26195 8.88513C4.25462 8.27313 3.41995 7.47646 2.78395 6.53513L2.76595 6.50713C2.16195 5.70579 1.59862 4.80046 1.11862 3.84579L1.07195 3.74313C0.791286 3.20846 0.50062 2.55113 0.249953 1.87512L0.209953 1.75179C0.107953 1.44779 0.0339531 1.09446 0.00328646 0.728458L0.00195312 0.711792C0.00195312 0.374903 0.200175 0.206458 0.59662 0.206458H2.34995C2.36595 0.205125 2.38462 0.204458 2.40395 0.204458C2.56929 0.204458 2.72195 0.261125 2.84262 0.356458L2.84129 0.355125C2.97462 0.501125 3.07329 0.680458 3.12195 0.880458L3.12395 0.888458C3.44662 1.79979 3.78862 2.56512 4.18195 3.29846L4.13729 3.20712C4.45862 3.85379 4.81395 4.41046 5.21929 4.92446L5.20395 4.90379C5.55951 5.34024 5.83684 5.55846 6.03595 5.55846C6.04195 5.55912 6.04929 5.55913 6.05729 5.55913C6.15595 5.55913 6.24195 5.50579 6.28862 5.42579L6.28929 5.42446C6.33862 5.29779 6.36729 5.15046 6.36729 4.99713C6.36729 4.96446 6.36595 4.93179 6.36329 4.89979V4.90379V2.31779C6.34929 2.01313 6.27462 1.72846 6.14995 1.47312L6.15529 1.48579C6.07262 1.30979 5.97329 1.15779 5.85529 1.02246L5.85729 1.02512C5.74795 0.915792 5.67329 0.772458 5.64995 0.612458L5.64929 0.608458C5.64929 0.495125 5.70129 0.393125 5.78262 0.326458L5.78329 0.325792C5.86395 0.251792 5.97195 0.207125 6.08995 0.207125H6.09529H8.85929C8.87395 0.205125 8.89062 0.204458 8.90795 0.204458C9.03795 0.204458 9.15462 0.263125 9.23195 0.355125L9.23262 0.355792C9.30129 0.481125 9.34195 0.631125 9.34195 0.789792C9.34195 0.815125 9.34062 0.839792 9.33862 0.864458V0.861125V4.30979C9.33729 4.32579 9.33662 4.34446 9.33662 4.36312C9.33662 4.48579 9.37062 4.60112 9.42929 4.69912L9.42795 4.69646C9.47662 4.76846 9.55795 4.81513 9.64995 4.81513H9.65062C9.76795 4.80713 9.87462 4.76846 9.96462 4.70712L9.96262 4.70846C10.144 4.58379 10.3 4.44179 10.4353 4.28113L10.438 4.27779C10.8426 3.82046 11.216 3.31512 11.5413 2.77779L11.5673 2.73112C11.7966 2.35113 12.0446 1.88312 12.2693 1.40246L12.3106 1.30446L12.608 0.709792C12.7113 0.412458 12.9886 0.203125 13.3146 0.203125C13.3273 0.203125 13.34 0.203125 13.3526 0.203792H13.3506H15.1046C15.5784 0.203792 15.7562 0.421792 15.638 0.857792H15.6373Z" fill="white"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
									<path d="M12.677 0.339844H3.323C1.48775 0.339844 0 1.8276 0 3.66284V8.33885C0 10.1741 1.48775 11.6618 3.323 11.6618H12.677C14.5122 11.6618 16 10.1741 16 8.33885V3.66284C16 1.8276 14.5122 0.339844 12.677 0.339844ZM10.4297 6.22835L6.05451 8.31504C5.93793 8.37065 5.80327 8.28565 5.80327 8.1565V3.85269C5.80327 3.7217 5.94147 3.63681 6.05829 3.69602L10.4335 5.91314C10.5636 5.97905 10.5613 6.1656 10.4297 6.22835Z" fill="white"/>
									</svg>          
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
									<path d="M11.0759 3.47637C10.9809 3.42731 10.8885 3.37353 10.799 3.31523C10.5386 3.1431 10.2999 2.94028 10.088 2.71113C9.5577 2.10439 9.35965 1.48887 9.2867 1.05791H9.28963C9.22869 0.700195 9.25389 0.46875 9.2577 0.46875H6.84246V9.80801C6.84246 9.9334 6.84246 10.0573 6.83719 10.1798C6.83719 10.195 6.83573 10.2091 6.83485 10.2255C6.83485 10.2322 6.83485 10.2393 6.83338 10.2463C6.83338 10.248 6.83338 10.2498 6.83338 10.2516C6.80792 10.5867 6.70051 10.9104 6.52058 11.1942C6.34066 11.478 6.09374 11.7133 5.80155 11.8793C5.49702 12.0525 5.15259 12.1434 4.80223 12.143C3.67694 12.143 2.76492 11.2254 2.76492 10.0922C2.76492 8.95898 3.67694 8.04141 4.80223 8.04141C5.01524 8.04121 5.22694 8.07473 5.42948 8.14072L5.43241 5.68154C4.81757 5.60212 4.19295 5.65099 3.59794 5.82505C3.00294 5.99911 2.45046 6.2946 1.97537 6.69287C1.55908 7.05457 1.20911 7.48614 0.941195 7.96816C0.839242 8.14395 0.454574 8.85029 0.407992 9.99668C0.378695 10.6474 0.574105 11.3215 0.667269 11.6001V11.606C0.725863 11.77 0.952914 12.3299 1.32293 12.8019C1.6213 13.1804 1.97382 13.513 2.36912 13.7889V13.783L2.37498 13.7889C3.54422 14.5834 4.84061 14.5312 4.84061 14.5312C5.06502 14.5222 5.81678 14.5313 6.67049 14.1267C7.61737 13.6781 8.15643 13.0099 8.15643 13.0099C8.50081 12.6106 8.77465 12.1555 8.96619 11.6643C9.18475 11.0897 9.2577 10.4007 9.2577 10.1253V5.17061C9.28699 5.18818 9.67723 5.44629 9.67723 5.44629C9.67723 5.44629 10.2394 5.80664 11.1166 6.04131C11.7459 6.2083 12.5937 6.24346 12.5937 6.24346V3.8458C12.2967 3.87803 11.6934 3.78428 11.0759 3.47637Z" fill="white"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="29" height="12" viewBox="0 0 29 12" fill="none">
									<path d="M25.7552 0H3.24476C1.45273 0 0 1.34315 0 3V9C0 10.6569 1.45273 12 3.24476 12H25.7552C27.5473 12 29 10.6569 29 9V3C29 1.34315 27.5473 0 25.7552 0Z" fill="white"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7.10298 3C7.08716 4.17836 7.00024 4.84067 6.52263 5.28262C6.04502 5.7246 5.32931 5.80504 4.05591 5.81966V5.99389C5.32931 6.00853 6.04502 6.08897 6.52263 6.53093C7.00024 6.97288 7.08716 7.63519 7.10298 8.81355H7.29125C7.30707 7.63519 7.39399 6.97288 7.8716 6.53093C8.34921 6.08897 9.06492 6.00853 10.3383 5.99389V5.81966C9.06492 5.80502 8.34921 5.7246 7.8716 5.28262C7.39399 4.84067 7.30707 4.17836 7.29125 3H7.10298Z" fill="black"/>
									<path d="M12.5027 9.00127V8.08805H15.0345V9.00127H15.8036V7.49604H15.3612V3.71094H12.4687L12.387 5.88374C12.3598 6.58912 12.2781 7.16225 12.0603 7.49604H11.7336V9.00127H12.5027ZM13.1084 5.98451L13.1697 4.30295H14.5377V7.49604H12.8362C12.9791 7.20003 13.0812 6.6899 13.1084 5.98451Z" fill="black"/>
									<path d="M17.1853 7.55733C16.7702 7.55733 16.3618 7.41876 16.144 7.26762V7.87853C16.3006 7.99819 16.6953 8.14934 17.2806 8.14934C18.145 8.14934 18.601 7.79035 18.601 7.15426C18.601 6.78267 18.3492 6.53074 17.9 6.44258C18.3219 6.31662 18.4989 6.03951 18.4989 5.68681C18.4989 5.15147 18.0429 4.85547 17.3079 4.85547C16.777 4.85547 16.4299 5.00663 16.2325 5.11999V5.73091C16.4503 5.59864 16.7498 5.44748 17.1922 5.44748C17.4916 5.44748 17.6822 5.57974 17.6822 5.81277C17.6822 6.05839 17.5188 6.19066 17.1853 6.19066H16.6749V6.75747H17.1853C17.6005 6.75747 17.7639 6.87085 17.7639 7.14796C17.7639 7.39988 17.5665 7.55733 17.1853 7.55733Z" fill="black"/>
									<path d="M21.6654 7.87223V7.26132C21.4135 7.41876 20.9915 7.55733 20.5968 7.55733C20.0047 7.55733 19.7801 7.2991 19.7461 6.77007H21.6994V6.3733C21.6994 5.27114 21.1754 4.85547 20.3654 4.85547C19.3786 4.85547 18.9089 5.55456 18.9089 6.51186C18.9089 7.61401 19.4942 8.14934 20.5287 8.14934C21.046 8.14934 21.4271 8.02338 21.6654 7.87223ZM20.3518 5.44748C20.7534 5.44748 20.8759 5.75609 20.8759 6.15288V6.21586H19.7461C19.7665 5.71201 19.9639 5.44748 20.3518 5.44748Z" fill="black"/>
									<path d="M24.134 4.91797V6.17127H23.0519V4.91797H22.2419V8.08587H23.0519V6.76329H24.134V8.08587H24.944V4.91797H24.134Z" fill="black"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path d="M13.7766 2.47983L1.95657 7.03783C1.1499 7.36183 1.15457 7.81183 1.80857 8.0125L4.84323 8.95917L11.8646 4.52917C12.1966 4.32717 12.4999 4.43583 12.2506 4.65717L6.5619 9.79117H6.56057L6.5619 9.79183L6.35257 12.9198C6.65923 12.9198 6.79457 12.7792 6.96657 12.6132L8.44057 11.1798L11.5066 13.4445C12.0719 13.7558 12.4779 13.5958 12.6186 12.9212L14.6312 3.43583C14.8372 2.60983 14.3159 2.23583 13.7766 2.47983V2.47983Z" fill="white"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
									<path d="M7.50146 0C6.01757 0 4.56743 0.440042 3.33356 1.26388C2.09969 2.08771 1.13835 3.26032 0.570796 4.63045C0.00324155 6.00058 -0.145523 7.50948 0.144505 8.96462C0.434532 10.4198 1.1496 11.7561 2.19845 12.805C3.2473 13.8538 4.58493 14.5676 6.04007 14.8564C7.49521 15.1452 9.0041 14.9964 10.3742 14.4276C11.7444 13.8588 12.9157 12.8975 13.7396 11.6636C14.5634 10.4297 15.0022 8.97837 15.0022 7.49573C15.0009 5.50678 14.2109 3.60035 12.8032 2.19522C11.3968 0.790077 9.48915 0 7.50146 0ZM9.67167 13.1375C9.13537 13.0425 8.63282 12.81 8.21403 12.4599C7.79649 12.1099 7.47771 11.6574 7.28894 11.1461C7.10142 10.6348 7.05142 10.0822 7.14267 9.54592C7.23518 9.00837 7.46646 8.50582 7.81399 8.08578C7.10267 8.32956 6.3276 8.3083 5.63003 8.02453C4.93372 7.74075 4.36366 7.2157 4.02363 6.54438C3.68484 5.87307 3.59984 5.10175 3.78611 4.37293C3.97112 3.64411 4.41491 3.00654 5.03372 2.579C5.65253 2.15146 6.40511 1.96269 7.15268 2.04645C7.90025 2.13021 8.59157 2.48274 9.09912 3.03655C9.60666 3.59035 9.89794 4.31042 9.91669 5.06174C9.93544 5.81306 9.68167 6.54688 9.20162 7.12569C9.69917 6.95442 10.2317 6.91317 10.7505 7.00568L9.67167 13.1375Z" fill="white"/>
									</svg>
								a(href="").footer__soc--link
									<svg xmlns="http://www.w3.org/2000/svg" width="29" height="8" viewBox="0 0 29 8" fill="none">
									<path d="M13.0933 2.00476V0.113281L11.5506 0.343915V2.00476H10.9502V3.56985H11.5506C11.5506 4.72812 11.5506 6.95593 11.5506 7.8354H13.0933V3.56985H14.2118V2.00476H13.0933Z" fill="white"/>
									<path d="M4.66195 4.80976C5.1319 4.3725 5.4335 3.77425 5.4335 3.02332V2.69668C5.4335 1.37803 4.5068 0.409165 3.36413 0.409165L0.0961914 0.394531L0.0981489 7.79386L1.64167 7.80791V5.29645H3.22819L4.2624 7.80791H6.06889L4.66195 4.80976ZM3.85626 2.93359C3.85626 3.45866 3.48709 3.75669 3.03186 3.75669H1.64175V1.97978H3.03186C3.48709 1.97978 3.85626 2.34864 3.85626 2.87388V2.93359Z" fill="white"/>
									<path d="M22.0024 1.97192H21.1856V0.0820312L19.6764 0.312581L19.676 7.80833H22.0024C23.1456 7.80833 24.0719 6.79615 24.0719 5.47808V4.35895C24.0719 3.04071 23.1456 1.97192 22.0024 1.97192ZM22.5931 5.32831C22.5931 5.88349 22.2683 6.21288 21.7872 6.21288H21.1906V3.56854H21.7872C22.2683 3.56854 22.5931 3.89827 22.5931 4.45336V5.32831Z" fill="white"/>
									<path d="M17.5109 2.00391V5.37109C17.5109 5.92601 17.336 6.30115 16.8546 6.30115H16.8307C16.3498 6.30115 16.1743 5.92601 16.1743 5.37109V2.00391H14.6516V5.49962C14.6516 6.81802 15.1519 7.88698 16.672 7.88698H16.9641C18.5652 7.88698 19.034 6.81802 19.034 5.49962V2.00391H17.5109Z" fill="white"/>
									<path d="M8.9281 2.00391V5.37109C8.9281 5.92601 8.75294 6.30115 8.27169 6.30115H8.24784C7.76687 6.30115 7.59157 5.92601 7.59157 5.37109V2.00391H6.06885V5.49962C6.06885 6.81802 6.56881 7.88698 8.08899 7.88698H8.38124C9.98196 7.88698 10.451 6.81802 10.451 5.49962V2.00391H8.9281Z" fill="white"/>
									<path d="M27.9348 5.85368C27.9348 5.85368 27.4893 6.48336 26.7061 6.41279C26.2181 6.36897 25.9287 6.08298 25.9287 5.52805V5.33463H28.9159V4.58578V4.54698V4.33541C28.9159 3.0497 28.0991 1.92188 26.7098 1.92188C25.3209 1.92188 24.5022 2.99301 24.5022 4.2788V4.54698V4.58578V5.48072C24.5022 6.76727 25.3192 7.89501 26.7083 7.89501C28.2784 7.89501 28.9496 6.63196 28.9496 6.63196L27.9348 5.85368ZM25.9287 4.00636C25.9287 3.46448 26.2282 3.13826 26.674 3.12321H26.7125C27.1765 3.12321 27.4898 3.45285 27.4898 4.00769V4.0567H25.9287V4.00636Z" fill="white"/>
									</svg>          
			
				.footer__row.footer__bottom
					.footer__bottom--col
						a(href="").footer__bottom--item 2022 © ТЕХНОНИКОЛЬ
						a(href="").footer__bottom--item Условия пользования
					.footer__bottom--col
						a(href="").footer__bottom--item О корпорации 
					.footer__bottom--col
						a(href="").footer__bottom--item Интернет-магазин


block scripts
	script