extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"
	- var sidebarActive = 1940
block head
	include ../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay
	include ../blocks/modules/loader/loader
	//- .wrapper
		//- include ../blocks/modules/sidebar/sidebar

	.scroll-page.home-page

		.section1
			include ../blocks/modules/header/header
			.section1__house
				picture
					source(srcset="img/main/start.png" media="(max-width: 699px)")
					img(src="img/main/start.png" alt="")
			.section1__title.blockTitle
				!="Подарите новый цвет <span>любимым вещам!</span>"
			.section1__scroll
				span Scroll

		.section2
			video.video.section2__video(loop="loop" autoplay="" muted="")
				source(src="video/video--1.mp4", type="video/mp4")
			.section2__title.blockTitle
				!="Равномерное и долговечное покрытие. <span>Насыщенность цвета. Полное соответствие RAL. Высокая укрывистость.</span>"
		.section3
			.section3__subtitle.subBlockTitle
				!="Аэрозольные краски - это универсальное решение для окраски различных поверхностей. Они позволяют быстро и легко изменить цвет и внешний вид различных предметов из:"
			.section3__col
				.swiper.material.js--material
					.swiper-wrapper
						.swiper-slide.material-slide
							.material-slide__item Метал
						.swiper-slide.material-slide
							.material-slide__item Дерево
						.swiper-slide.material-slide
							.material-slide__item Гипс
						.swiper-slide.material-slide
							.material-slide__item Метал-2
						.swiper-slide.material-slide
							.material-slide__item Дерево-2
			.section3__col
				.swiper.material-foto.js--material-foto
					.swiper-wrapper
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--1.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--2.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--3.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--4.png" alt="")
						.swiper-slide.material-foto__slide
							picture
								img(src="img/main/material-foto--5.png" alt="")
					.swiper-button-next.material-foto--button
					.swiper-button-prev.material-foto--button
		.section4
			.section4__col
				.section4__title.blockTitle
					!="Придайте предметам  <span>глубокий и насыщенный цвет.</span>"
				.swiper.color-slider.js--color-slider
					.swiper-wrapper
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-1.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-2.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="3005")
							picture
								img(src="img/ral-3005/ral-3005-3.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-1.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-2.png" alt="")
						.swiper-slide.color-slider__slide(data-filter="6005")
							picture
								img(src="img/ral-6005/ral-6005-3.png" alt="")
					.swiper-button-prev.color-slider--button 
					.swiper-button-next.color-slider--button

			.section4__col
				.color-list__wrap
					.color-list__selected
						.color-list__selected--color
						.color-list__item--title Зеленый MOX 
						.color-list__item--rall RAL 6005
					.color-list
						.color-list__item(data-filter="6005")
							.color-list__item--color
							.color-list__item--title Зеленый MOX 
							.color-list__item--rall RAL 6005
						.color-list__item(data-filter="3005")
							.color-list__item--color
							.color-list__item--title Красное вино
							.color-list__item--rall RAL 3005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый Зеленый
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
						.color-list__item
							.color-list__item--color
							.color-list__item--title Зеленый MOX
							.color-list__item--rall RAL 6005
		.section5
			.section5__col
				.section5__video 
					video.video(loop="loop" autoplay="" muted="")
						source(src="video/video--1.mp4", type="video/mp4")
				.button.section5__button Купить онлайн
			.section5__col
				.section5__title.blockTitle
					!="Реальный выкрас на крышке баллона. <span>Гарантия цвета. Уверенность в результате.</span>"
	.section6
		.section6__title.blockTitle
				!="Рекомендации <span>по применению</span>"
		.accordions
			.accordion
				.accordion__intro
					p Подготовка поверхности
					.accordion__intro__img 
						<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
						</svg>
				.accordion__content
					p
						!="Компания ,  является региональным мультисервисным оператором связи на территории Тульской области. Мы оказываем услуги по подключению к глобальной сети Интернет для юридических и физических лиц, аренды каналов, проектированию и монтажу сетей связи, слаботочных систем, волоконно-оптических линий и другие виды высокотехнологичных услуг."
					br
					br
					br
					p  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, laudantium esse dolores soluta veritatis cupiditate vel molestiae et perferendis, explicabo earum voluptatem? Eligendi hic doloribus possimus quidem recusandae nostrum, sed provident, aspernatur aperiam alias voluptates repellendus ab facilis in distinctio. Aliquid laborum suscipit.
			.accordion
				.accordion__intro
					p Подготовка баллона
					.accordion__intro__img 
						<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
						</svg>
				.accordion__content
					p
						!="Компания ,  является региональным мультисервисным оператором связи на территории Тульской области. Мы оказываем услуги по подключению к глобальной сети Интернет для юридических и физических лиц, аренды каналов, проектированию и монтажу сетей связи, слаботочных систем, волоконно-оптических линий и другие виды высокотехнологичных услуг."
			.accordion
				.accordion__intro
					p Окраска
					.accordion__intro__img 
						<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
						</svg>
				.accordion__content
					p
						!="Компания ,  является региональным мультисервисным оператором связи на территории Тульской области. Мы оказываем услуги по подключению к глобальной сети Интернет для юридических и физических лиц, аренды каналов, проектированию и монтажу сетей связи, слаботочных систем, волоконно-оптических линий и другие виды высокотехнологичных услуг."
			.accordion
				.accordion__intro
					p Результат
					.accordion__intro__img 
						<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.89429 5.77297L1.59099 0.46967C1.2981 0.176777 0.823223 0.176777 0.53033 0.46967V0.46967C0.237437 0.762563 0.237437 1.23744 0.53033 1.53033L6.89429 7.89429L13.2583 1.53033C13.5511 1.23744 13.5511 0.762563 13.2583 0.46967V0.46967C12.9654 0.176777 12.4905 0.176777 12.1976 0.46967L6.89429 5.77297Z" fill="black"/>
						</svg>
				.accordion__content
					p
						!="Компания ,  является региональным мультисервисным оператором связи на территории Тульской области. Мы оказываем услуги по подключению к глобальной сети Интернет для юридических и физических лиц, аренды каналов, проектированию и монтажу сетей связи, слаботочных систем, волоконно-оптических линий и другие виды высокотехнологичных услуг."
	
		
		//- .section7
		//- 	.section7__title.blockTitle
		//- 			!="Рекомендации <span>по применению</span>"

	//-include ../blocks/modules/header/header
	//-include ../blocks/modules/footer/footer


block scripts
	script