@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  width: 100%;
  margin: auto;
  padding-left: vw2(20);
  padding-right: vw2(20);
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  @include max(md) {
    display: block;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 62px;
  @include max(md) {
   padding-top: vw2(20)
  }
}
.navbar .menu-items {
  display: flex;

}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  font-weight: bolder;
  font-size: vw2(14);
  font-weight: 500;
  line-height: vw2(17);
  color: #191919;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
  color: $red;
}


.close {
  position: relative;

}
.nav-container .checkbox {
  position: absolute;
  top: vw2(15);
  right: 6.25vw;
  display: block;
  height: 42px;
  width: 42px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: vw2(100);
  background: #fff;
  height: 100vh;
  width: 100vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: vw2(20);
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: vw2(7);
}

.logo {
  position: relative;
  max-width: vw2(109);
  @include max(sm) {
    max-width: vw2(129);
  }
  z-index: 3;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0px);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
